*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
build/
/captures
.externalNativeBuild
.idea/caches/gradle_models.ser
.idea/checkstyle-idea.xml
.idea/vcs.xml
05AutoAttribute/build/generated/res/
05AutoAttribute/build/generated/source/rs/
05AutoAttribute/build/intermediates/check-manifest/
05AutoAttribute/build/intermediates/checkDebugClasspath/
05AutoAttribute/build/intermediates/check_manifest_result/
05AutoAttribute/build/intermediates/incremental/mergeDebugResources/stripped.dir/
05AutoAttribute/build/intermediates/incremental/processDebugResources/
05AutoAttribute/build/intermediates/lint_jar/
05AutoAttribute/build/intermediates/lint_publish_jar/
05AutoAttribute/build/intermediates/manifest_merge_blame_file/debugAndroidTest/
05AutoAttribute/build/intermediates/prebuild/
05AutoAttribute/build/intermediates/rs/
05AutoAttribute/build/intermediates/tmp/
06MyScrollView/build/generated/res/
06MyScrollView/build/generated/source/rs/
06MyScrollView/build/intermediates/check-manifest/
06MyScrollView/build/intermediates/checkDebugClasspath/
06MyScrollView/build/intermediates/check_manifest_result/
06MyScrollView/build/intermediates/incremental/mergeDebugResources/stripped.dir/
06MyScrollView/build/intermediates/incremental/processDebugResources/
06MyScrollView/build/intermediates/lint_jar/
06MyScrollView/build/intermediates/lint_publish_jar/
06MyScrollView/build/intermediates/manifest_merge_blame_file/debugAndroidTest/
06MyScrollView/build/intermediates/prebuild/
06MyScrollView/build/intermediates/rs/
06MyScrollView/build/intermediates/tmp/
BotomNavigation/libs/
EventBus_demo/libs/
_04MyToggleButton/build/generated/ap_generated_sources/
_04MyToggleButton/build/generated/res/
_04MyToggleButton/build/generated/source/rs/
_04MyToggleButton/build/intermediates/check-manifest/
_04MyToggleButton/build/intermediates/checkDebugClasspath/
_04MyToggleButton/build/intermediates/check_manifest_result/
_04MyToggleButton/build/intermediates/duplicate_classes_check/
_04MyToggleButton/build/intermediates/incremental/mergeDebugResources/stripped.dir/
_04MyToggleButton/build/intermediates/incremental/processDebugResources/
_04MyToggleButton/build/intermediates/lint_jar/
_04MyToggleButton/build/intermediates/lint_publish_jar/
_04MyToggleButton/build/intermediates/manifest_merge_blame_file/debugAndroidTest/
_04MyToggleButton/build/intermediates/merged_assets/
_04MyToggleButton/build/intermediates/merged_jni_libs/
_04MyToggleButton/build/intermediates/merged_native_libs/
_04MyToggleButton/build/intermediates/merged_shaders/
_04MyToggleButton/build/intermediates/prebuild/
_04MyToggleButton/build/intermediates/rs/
_04MyToggleButton/build/intermediates/shader_assets/
_04MyToggleButton/build/intermediates/stripped_native_libs/
_04MyToggleButton/build/intermediates/tmp/
_04MyToggleButton/build/intermediates/validate_signing_config/
_04MyToggleButton/build/tmp/
activity_fragment_LiveCycle/build/generated/res/
activity_fragment_LiveCycle/build/generated/source/rs/
activity_fragment_LiveCycle/build/intermediates/check-manifest/
activity_fragment_LiveCycle/build/intermediates/checkDebugClasspath/
activity_fragment_LiveCycle/build/intermediates/check_manifest_result/
activity_fragment_LiveCycle/build/intermediates/incremental/mergeDebugResources/stripped.dir/
activity_fragment_LiveCycle/build/intermediates/incremental/processDebugResources/
activity_fragment_LiveCycle/build/intermediates/lint_jar/
activity_fragment_LiveCycle/build/intermediates/lint_publish_jar/
activity_fragment_LiveCycle/build/intermediates/manifest_merge_blame_file/debugAndroidTest/
activity_fragment_LiveCycle/build/intermediates/prebuild/
activity_fragment_LiveCycle/build/intermediates/rs/
activity_fragment_LiveCycle/build/intermediates/tmp/
activity_saveFragment_saveTask/libs/
handlerdemo/libs/
java_lib/libs/
permissionrequest/libs/
runtime_permissionrequest/libs/
